.advantages {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  &::after {
    position: absolute;
    content: "";
    width: 636px;
    height: 636px;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -33%) rotate(90deg);
    background-image: url("../img/triangle-middle.svg");
    background-repeat: no-repeat;
    z-index: -1;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.advantages ul {
  @include list-reset;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 30px;
  max-width: 1160px;
  padding: 109px 0 120px;
  margin: 0 auto;

  @media (max-width: $mobile-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &::after {
    position: absolute;
    content: "";
    width: 340px;
    height: 330px;
    bottom: 0;
    right: -285px;
    background-image: url("../img/grey-triangle.svg");
    background-repeat: no-repeat;
    z-index: 0;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 340px;
    height: 330px;
    top: 35px;
    left: -190px;
    background-image: url("../img/grey-triangle.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg);
    z-index: 0;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.advantages__item {
  border: 1px solid $light-grey;
  border-left: 2px solid $blue;
  padding: 37px 38px 25px 37px;
  background-color: $basic-white;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    padding: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }

  &:hover {
    background-color: $blue;
  }
}

.advantages dl {
  margin: 0;
}

.advantages dt {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $blue;
  margin-bottom: 15px;

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 140.62%;
  }
}

.advantages dd {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $font-grey;
  margin: 0 0 15px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.advantages svg {
  fill: $blue;
  margin-bottom: 23px;

  @media (max-width: $tablet-width) {
    margin-bottom: 14px;
  }
}

.advantages__item:hover svg,
.advantages__item:hover dd,
.advantages__item:hover dt {
  fill: $basic-white;
  color: $basic-white;
}
