.consultation {
  position: relative;
  width: 51%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: $tablet-width) {
    width: 70%;
    padding-left: 63px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-left: 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 654px;
    height: 643px;
    top: -196px;
    right: -98%;
    background-image: url("../img/triangles.svg");
    background-repeat: no-repeat;
    z-index: 0;

    @media (max-width: $tablet-width) {
      background-image: url("../img/triangles-tablet.svg");
      width: 505px;
      height: 482px;
      top: -188px;
      right: -415px;
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/triangles-mobile.svg");
      width: 505px;
      height: 482px;
      top: -291px;
      right: -349px;
    }
  }
}

.consultation h2 {
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $basic-white;
  margin: 0 0 31px;

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $mobile-width) {
    font-size: 40px;
    line-height: 47px;
  }
}

.consultation__text {
  position: relative;
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: $basic-white;
  padding-left: 95px;
  margin: 0 0 40px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 156.8%;
    padding-left: 55px;
    margin: 0 0 54px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 50px;
    margin: 0 0 30px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background-color: $basic-white;
    top: 15px;
    left: 0;

    @media (max-width: $tablet-width) {
      width: 33px;
    }
  }
}

.consultation a {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-white;
  align-self: flex-start;
  background-color: $background-blue;
  border-radius: 5px;
  padding: 0 45px;
  margin: 0 0 31px 92px;

  @media (max-width: $tablet-width) {
    padding: 0 32px;
    margin-left: 45px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-left: 0;
    padding: 2px 29px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.consultation__link {
  @media (max-width: $mobile-width) {
    &--long {
      display: none;
    }
  }

  &--short {
    display: none;

    @media (max-width: $mobile-width) {
      display: block;
    }
  }
}
