.feedback {
  min-height: 670px;
  background-color: $blue;
  padding: 96px 0 100px;
  margin-bottom: 65px;
  overflow: hidden;

  @media (max-width: $tablet-width) {
    padding: 83px 0 100px;
  }

  @media (max-width: $mobile-width) {
    padding: 33px 0 41px;
  }
}

.feedback__wrapper {
  position: relative;
  display: flex;
  max-width: 1195px;
  justify-content: space-between;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding: 0 31px;

    @media (max-width: $mobile-width) {
      padding: 0;
    }
  }

  &::before {
    display: block;
    content: "";
    width: 511px;
    height: 288px;
    background-image: url("../img/plane.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 60px 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/plane@2x.png");
    }

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 654px;
    height: 643px;
    top: -142px;
    left: -144px;
    background-image: url("../img/triangles.svg");
    background-repeat: no-repeat;
    z-index: 0;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.feedback__form {
  width: 47.7%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.feedback h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $basic-white;
  margin: 0 0 10px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
  }
}

.feedback p {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
  margin: 0 0 45px;
}

.feedback fieldset {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none;
  padding: 0;
  margin-bottom: 30px;
}

.feedback label {
  position: relative;
  display: block;
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $basic-white;
  cursor: pointer;
  padding-left: 35px;
}

.feedback input,
.feedback textarea {
  min-width: 270px;
  background-color: $opacity-white;
  border: none;
  padding: 17px 16px;
  margin-bottom: 10px;

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }

  &:hover {
    outline: 1px solid $blue-hover;
  }
}

.feedback textarea {
  width: 100%;
  min-height: 154px;
  margin-bottom: 43px;

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.feedback input::placeholder,
.feedback textarea::placeholder {
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $basic-white;
}

.feedback button {
  @include button-reset;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-white;
  border: 1px solid $basic-white;
  border-radius: 5px;
  padding: 14px 69px;

  @media (max-width: $mobile-width) {
    margin-bottom: 35px;
  }

  &:hover {
    border: 1px solid $blue-hover;
    color: $blue-hover;
  }
}

input[type="checkbox"] + span {
  opacity: 0.8;
  width: 230px;
  display: block;
}


input[type="checkbox"] + span::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 8px;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid $basic-white;
}

input[type="checkbox"]:checked + span::before {
  background-image: url("../img/tick.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

input[type="checkbox"]:focus + span::before {
  outline: 2px solid $blue-hover;
}

.feedback__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}
