.footer {
  overflow: hidden;

  @media (max-width: $mobile-width) {
    padding-top: 32px;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.footer__promo {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-basis: 100%;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $border-grey;
    padding-bottom: 27px;
    margin-bottom: 38px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: calc(50vw - 50%);
      height: 1px;
      background-color: $border-grey;
    }

    &::before {
      bottom: -1px;
      left: -25px;
    }

    &::after {
      bottom: -1px;
      right: -25px;
    }
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 54px;

    &::before {
      left: -15px;
    }

    &::after {
      right: -15px;
    }
  }
}

.footer__nav {
  position: relative;
  margin: 0 15px;

  @media (max-width: $tablet-width) {
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    border-bottom: 1px solid $border-grey;
    padding-bottom: 5px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: calc(50vw - 50%);
      height: 1px;
      background-color: $border-grey;
    }

    &::before {
      bottom: -1px;
      left: -15px;
    }

    &::after {
      bottom: -1px;
      right: -15px;
    }
  }
}

.footer__contacts a {
  display: block;
}

.footer__list {
  @include list-reset;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: row dense;
  gap: 0 65px;

  @media (max-width: $tablet-width) {
    grid-template-columns: auto;
  }
}

.footer__accordion,
.footer__list {
  @media (max-width: $mobile-width) {
    margin-bottom: 26px;
  }
}

.footer__item {
  &--accessories {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    @media (max-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6;
    }
  }

  &--delivery {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    @media (max-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 7;
    }
  }

  &--contacts {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    @media (max-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 7;
      grid-row-end: 8;
    }
  }
}

.footer__title {
  position: relative;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $font-color;
  padding-bottom: 29px;
  margin: 0;

  @media (max-width: $tablet-width) {
    padding-bottom: 23px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 28px;
    padding-bottom: 27px;

    &--closed {
      &::after,
      &::before {
        content: "";
        width: 16px;
        height: 1px;
        position: absolute;
        top: 50%;
        right: 0;
        background-color: $grey;
      }

      &::before {
        transform: translateY(-50%) rotate(90deg);
      }

      &::after {
        transform: translateY(-50%);
      }
    }

    &--opened {
      &::after {
        content: "";
        width: 16px;
        height: 1px;
        position: absolute;
        top: 50%;
        right: 0;
        background-color: $grey;
        transform: translateY(-50%);
      }
    }
  }
}

.footer a {
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $font-color-opacity;

  &:hover {
    color: $blue;
  }
}

.footer__text {
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $font-color-opacity;
  margin: 0;

  &:first-child {
    margin-right: 70px;
  }

  &:nth-child(2n) {
    margin-right: 140px;
  }

  &:last-child {
    margin-left: auto;
    margin-right: 0;

    @media (max-width: $mobile-width) {
      margin-left: 0;
    }
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  &--rights {
    margin-right: 50px;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.footer__copyright {
  padding: 10px 0;
  border-top: 1px solid $border-grey;

  @media (max-width: $tablet-width) {
    padding: 18px 0;
  }

  @media (max-width: $mobile-width) {
    text-align: center;
    padding: 27px 0 0;
  }
}

.footer__copyright-text {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    opacity: 0.5;
    margin: 0;
  }

  @media (max-width: $mobile-width) {
    margin: 26px 0;
  }
}

.footer address {
  font-family: "PT Mono", "Courier New", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $font-color-opacity;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    padding-right: 20px;
  }

  &:hover {
    color: $blue;
  }
}

.footer__copyright-inner {
  display: flex;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}
