.goods {
  background-color: $background-grey;
  padding: 90px 0 127px;

  @media (max-width: $tablet-width) {
    padding: 53px 0 40px;
  }

  @media (max-width: $mobile-width) {
    padding: 53px 0 34px;
  }
}

.goods__inner {
  max-width: 1170px;
  margin: 0 auto;
}

.goods h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $basic-white;
  margin: 0 0 47px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 140.62%;
    margin: 0 86px 47px 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 140.62%;
    margin: 0 0 39px 8px;
  }
}

.goods ul {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    align-items: center;
  }
}

.goods li {
  width: 32%;
  min-height: 620px;
  margin-bottom: 7px;

  &:not(:last-child) {
    margin-right: 2%;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {

    width: 100%;
    min-height: 256px;
    margin-right: 0;
    margin-bottom: 45px;

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
  }
}

.goods a {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  font-size: 20px;
  line-height: 30px;
  color: $basic-white;
  width: 100%;
  height: 100%;

  @media (max-width: $tablet-width) {
    min-height: 256px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 63px;
    height: 63px;
    bottom: 0;
    right: 0;
    background-color: $blue;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    outline: 1px solid $blue-hover;
  }
}

.goods img {
  height: 100%;
  opacity: 0.3;
  object-fit: cover;

  @media (max-width: $tablet-width) {
    width: 100%;
    height: 256px;
    object-position: center;
  }
}

.goods p {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  margin: 53px 45px;
  width: 160px;
  top: 0;
  left: 0;
  z-index: 1;

  @media (max-width: $tablet-width) {
    margin: 43px 45px;
  }

  @media (max-width: $mobile-width) {
    margin: 23px 35px;
  }
}
