.goods {
  background-color: $background-grey;
  padding: 93px 0 127px;

  @media (max-width: $tablet-width) {
    padding: 53px 0 78px;
  }

  @media (max-width: $mobile-width) {
    padding: 53px 0 64px;
  }
}

.goods__inner {
  max-width: 1170px;
  margin: 0 auto;
}

.goods h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $basic-white;
  margin: 0 0 47px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 140.62%;
    margin: 0 86px 47px 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 140.62%;
  }
}

.goods ul {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    align-items: center;
  }
}

.goods li {
  width: 32%;
  min-height: 620px;

  &:not(:last-child) {
    margin-right: 2%;
  }

  @media (max-width: $tablet-width) {

    width: 100%;
    min-height: 256px;
    margin-right: 0;
    margin-bottom: 45px;

    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

.goods__link {
  display: block;
  position: relative;
  background-repeat: no-repeat;
  font-size: 20px;
  line-height: 30px;
  color: $basic-white;
  width: 100%;
  height: 100%;

  @media (max-width: $tablet-width) {
    min-height: 256px;
  }

  // box-shadow: inset 0 0 500px rgba(27, 45, 55, 1);
  // opacity: 0.2;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    background-size: cover;
    background-color: rgba(196, 196, 196, 1);
    background-repeat: no-repeat;
  }

  &--production::before {
    background-image: url("../img/production.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/production@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/production-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/production-tablet@2x.jpg");
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/production-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/production-mobile@2x.jpg");
      }
    }
  }

  &--installation::before {
    background-image: url("../img/installation.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/installation@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/installation-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/installation-tablet@2x.jpg");
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/installation-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/installation-mobile@2x.jpg");
      }
    }
  }

  &--accessories::before {
    background-image: url("../img/accessories.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/accessories@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/accessories-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/accessories-tablet@2x.jpg");
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/accessories-mobile.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/accessories-mobile@2x.jpg");
      }
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 63px;
    height: 63px;
    bottom: 0;
    right: 0;
    background-color: $blue;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    outline: 1px solid $blue-hover;
  }
}

.goods p {
  display: inline-block;
  // padding: 50px 152px 50px 45px;
  margin: 53px 45px;
  width: 160px;

  @media (max-width: $tablet-width) {
    margin: 43px 45px;
  }

  @media (max-width: $mobile-width) {
    margin: 23px 35px;
  }
}
