.info {
  margin-bottom: 110px;
  position: relative;
  overflow-x: hidden;

  &::after {
    position: absolute;
    content: "";
    width: 636px;
    height: 636px;
    bottom: 0;
    left: -250px;
    background-image: url("../img/triangle-middle.svg");
    background-repeat: no-repeat;
    overflow: hidden;
    transform: rotate(-90deg);
    z-index: -1;

    @media (max-width: $tablet-width) {
      bottom: 233px;
      left: 46%;
      transform: rotate(90deg);
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 80px;
  }
}

.info__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 21%;
  padding-right: 11%;

  @media (max-width: $tablet-width) {
    padding-left: 26%;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 220px;
    height: 317px;
    top: 0;
    left: 7%;
    background-image: url("../img/year.svg");
    background-repeat: no-repeat;

    @media (max-width: $tablet-width) {
      width: 361px;
      height: 317px;
      left: -2%;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.info h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $font-grey;
  margin: 0 0 18px;
}

.info p {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $font-grey;
  margin: 0 0 18px;

  @media (max-width: $tablet-width) {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 93px;
  }
}

.info a {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $blue;
  border: 1px solid $blue;
  border-radius: 5px;
  padding: 13px 50px;
  margin: 25px 0 0;

  &:hover {
    color: $blue-hover;
    border: 1px solid $blue-hover;
  }
}
