.page {
  scroll-behavior: smooth;
}

.page__body {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $font-color;
  min-width: 320px;
  min-height: 100vh;
  align-content: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;

  &--lock {
    overflow: hidden;
  }
}
