.page {
  scroll-behavior: smooth;
}

.page__body {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $font-color;
  min-width: 320px;
  min-height: 100vh;
  align-content: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;

  &--lock {
    overflow: hidden;
  }
}

.page__inner {
  position: relative;
  background-image: url("../img/triangle1.svg");
  background-repeat: no-repeat;
  background-position: 54% 51%;

  @media (max-width: $tablet-width) {
    background-position: -200% 60%;
  }

  &::before {
    position: absolute;
    content: "";
    width: 751px;
    height: 714px;
    top: 52%;
    left: -174px;
    transform: rotate(-180deg);
    background-image: url("../img/triangle1.svg");
    background-repeat: no-repeat;
    z-index: -1;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}
