.social {
  @include list-reset;
  display: flex;

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}

.social__item {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.social__link {
  display: flex;
  align-items: center;
}

.social__item svg {
  fill: $social-grey;
}

.social__link:hover svg {
  fill: $background-grey;
  border: $background-grey;
}
