$basic-white: rgba(255, 255, 255, 1);
$opacity-white: rgba(255, 255, 255, 0.7);
$basic-black: rgba(0, 0, 0, 1);
$font-color: rgb(45, 56, 63);
$background-grey: rgba(27, 45, 55, 1);
$background-blue: rgba(0, 178, 255, 1);
